/* style color (to replace natgeo yellow): #9ED5CB */

.nav {
    border-bottom: 1px solid rgb(233, 233, 233);
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    margin: 4px 0px 3px 12px;
}

.nav-buttons {
    height: 100%;
}
.menu-toggle {
    height: 100%;
    width: 10vw;
    border: 1px solid rgb(233, 233, 233);
    outline: none;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;

    float: left;
    background: #ff3232;
    background: linear-gradient(to right, #9ED5CB 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    margin-left: 10px;
    transition: all 350ms ease;
}
.chevron-container {
    margin-left: 8px;
}
.menu-toggle:hover {
    background-position: left bottom;
}