.quiz-container {
    width: 45%;
    display: flex;
    flex-direction: column;
    background-color: #e3f2f0;
    border-style: none;
    border-radius: 10px;
    font-family: 'Josefin Sans', sans-serif;



    margin-bottom: 100px;
}
.quiz-question {
    margin: 10px 20px 10px 20px;
}
.question-title {
    font-size: 1.15rem;
}
.answer {
    margin-bottom: 8px;
    padding: 10px 20px 10px 20px;
    list-style-type: none;
    width: calc(100% - 80px);
    background-color: #bfe0db;
    border-style: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    transition: all 300ms;
}
.answer-hoverable:hover {
    background-color: #d9c7e9;
}